@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    touch-action: none;
    overflow: hidden;
    background-color: black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: var(--tg-viewport-height);
}

#test {
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 72px;
}

.box {
    background-color: #292223;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;


}

.box span{
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

