@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    touch-action: none;
    overflow: hidden;
    background-color: black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: var(--tg-viewport-height);
}

#test {
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 72px;
}

.box {
    background-color: #292223;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.box span{
    color: white;
 
    font-family: 'SF Pro Display', sans-serif;
    color: white;
}

.main{
    background-color: #121010;
    text-align: center;
}


